timrAPITestClient/Web References/TimrSyncWebService/timrsync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://timr.com/timrsync" xmlns:tns="http://timr.com/timrsync" targetNamespace="http://timr.com/timrsync" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://timr.com/timrsync" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Task">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="externalId" type="string" />
          <element minOccurs="0" maxOccurs="1" name="parentExternalId" nillable="true" type="string" />
          <element minOccurs="1" maxOccurs="1" name="name" type="string" />
          <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="start" nillable="true" type="date">
            <annotation>
              <documentation>
						task is available from this day on
					</documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="end" nillable="true" type="date">
            <annotation>
              <documentation>
						task is available until this day
					</documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="bookable" type="boolean">
            <annotation>
              <documentation>
						defines if it is possible to record time on this
						task
					</documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="1" name="billable" type="boolean" />
          <element minOccurs="0" maxOccurs="unbounded" name="subtasks" type="tns:Task" />
          <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
          <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
          <element minOccurs="0" maxOccurs="1" name="budgetPlanningType" nillable="true" type="tns:BudgetPlanningType" />
          <element minOccurs="0" maxOccurs="1" name="budgetPlanningTypeInherited" nillable="true" type="boolean" />
          <element minOccurs="0" maxOccurs="1" name="hoursPlanned" nillable="true" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="hourlyRate" nillable="true" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="budgetPlanned" nillable="true" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="externalComments" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="lockDate" nillable="true" type="date" />
          <element minOccurs="0" maxOccurs="1" name="parentUuid" nillable="true" type="string" />
          <element minOccurs="1" maxOccurs="1" default="false" name="descriptionRequired" type="boolean" />
          <element minOccurs="0" maxOccurs="1" name="address" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="city" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="zipCode" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="state" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="country" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="latitude" nillable="true" type="double" />
          <element minOccurs="0" maxOccurs="1" name="longitude" nillable="true" type="double" />
          <element minOccurs="0" maxOccurs="1" name="locationRestrictionRadius" nillable="true" type="int" />
        </sequence>
      </complexType>
      <simpleType name="BudgetPlanningType">
        <restriction base="string">
          <enumeration value="NONE" />
          <enumeration value="TASK_HOURLY_RATE" />
          <enumeration value="USER_HOURLY_RATE" />
          <enumeration value="FIXED_PRICE" />
        </restriction>
      </simpleType>
      <element name="AddTaskRequest" type="tns:Task" />
      <element name="AddTaskResponse" type="long" />
      <element name="UpdateTaskRequest" type="tns:Task" />
      <element name="UpdateTaskResponse" type="boolean" />
      <element name="UpdateTaskIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="task" type="tns:Task" />
            <element minOccurs="1" maxOccurs="1" name="newExternalTaskId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateTaskIdResponse" type="boolean" />
      <element name="SetTaskExternalIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="0" maxOccurs="1" name="parentExternalId" nillable="true" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newExternalTaskId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SetTaskExternalIdResponse" type="boolean" />
      <element name="DeleteTaskRequest" type="string" />
      <element name="DeleteTaskResponse" type="boolean" />
      <element name="DeleteTaskByUUIDRequest" type="string" />
      <element name="DeleteTaskByUUIDResponse" type="boolean" />
      <complexType name="User">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="externalId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="login" type="string" />
          <element minOccurs="0" maxOccurs="1" name="firstname" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="lastname" nillable="true" type="string" />
          <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          <element minOccurs="1" maxOccurs="1" name="isAdmin" type="boolean" />
          <element minOccurs="0" maxOccurs="1" name="resignDate" nillable="true" type="date">
            <annotation>
              <documentation>date when user resigned, after this date this user is not allowed to log
						in anymore
					</documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" name="workingHours" nillable="true" type="decimal">
            <annotation>
              <documentation>number of working hours per week</documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="1" default="false" name="isTeamLeader" nillable="true" type="boolean" />
          <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
          <element minOccurs="0" maxOccurs="1" name="entryDate" nillable="true" type="date" />
          <element minOccurs="0" maxOccurs="1" name="ssoProvider" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="ssoIdentifier" nillable="true" type="string" />
        </sequence>
      </complexType>
      <element name="AddUserRequest" type="tns:User" />
      <element name="AddUserResponse" type="long" />
      <element name="InviteUserRequest" type="tns:User" />
      <element name="InviteUserResponse" type="long" />
      <element name="UpdateUserRequest" type="tns:User" />
      <element name="UpdateUserResponse" type="boolean" />
      <element name="UpdateUserIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="user" type="tns:User" />
            <element minOccurs="1" maxOccurs="1" name="newExternalUserId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateUserIdResponse" type="boolean" />
      <element name="DeleteUserRequest" type="string" />
      <element name="DeleteUserResponse" type="boolean" />
      <element name="DeleteUserByUUIDRequest" type="string" />
      <element name="DeleteUserByUUIDResponse" type="boolean" />
      <element name="AssignTaskToUserRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalTaskId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidTask" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AssignTaskToUserResponse" type="boolean" />
      <element name="RemoveTaskFromUserRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalTaskId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidTask" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveTaskFromUserResponse" type="boolean" />
      <complexType name="WorkTime">
        <complexContent mixed="false">
          <extension base="tns:Record">
            <sequence>
              <element minOccurs="1" maxOccurs="1" name="externalWorkItemId" type="string" />
              <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" default="CHANGEABLE" name="status" nillable="true" type="tns:WorkTimeStatus" />
              <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField4" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField5" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField6" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField7" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="userUuid" type="string" />
              <element minOccurs="1" maxOccurs="1" name="workItemUuid" type="string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ProjectTime">
        <complexContent mixed="false">
          <extension base="tns:Record">
            <sequence>
              <element minOccurs="1" maxOccurs="1" name="externalTaskId" type="string" />
              <element minOccurs="1" maxOccurs="1" name="taskBreadCrumbs" type="string" />
              <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="billable" type="boolean" />
              <element minOccurs="0" maxOccurs="1" default="CHANGEABLE" name="status" nillable="true" type="tns:ProjectTimeStatus" />
              <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField4" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField5" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField6" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField7" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="userUuid" type="string" />
              <element minOccurs="1" maxOccurs="1" name="taskUuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="hourlyRate" nillable="true" type="decimal" />
              <element minOccurs="0" maxOccurs="1" name="hourlyRateInternal" nillable="true" type="decimal" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DriveLog">
        <complexContent mixed="false">
          <extension base="tns:Record">
            <sequence>
              <element minOccurs="1" maxOccurs="1" name="externalCarId" type="string" />
              <element minOccurs="1" maxOccurs="1" name="startMileage" type="long" />
              <element minOccurs="1" maxOccurs="1" name="endMileage" type="long" />
              <element minOccurs="0" maxOccurs="1" name="route" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="purpose" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="visited" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="business" type="boolean" />
              <element minOccurs="0" maxOccurs="1" default="CHANGEABLE" name="status" nillable="true" type="tns:DriveLogStatus" />
              <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField4" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField5" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField6" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField7" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="userUuid" type="string" />
              <element minOccurs="1" maxOccurs="1" name="carUuid" type="string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Record">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="id" type="long" />
          <element minOccurs="1" maxOccurs="1" name="externalUserId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="startTime" type="dateTime" />
          <element minOccurs="1" maxOccurs="1" name="startTimeZone" type="string" />
          <element minOccurs="1" maxOccurs="1" name="endTime" type="dateTime" />
          <element minOccurs="1" maxOccurs="1" name="endTimeZone" type="string" />
          <element minOccurs="1" maxOccurs="1" name="duration" type="long" />
          <element minOccurs="0" maxOccurs="1" name="startPosition" nillable="true" type="tns:Position" />
          <element minOccurs="0" maxOccurs="1" name="endPosition" nillable="true" type="tns:Position" />
          <element minOccurs="1" maxOccurs="1" name="closed" type="boolean" />
          <element minOccurs="1" maxOccurs="1" name="changed" type="boolean" />
          <element minOccurs="1" maxOccurs="1" name="lastModifiedTime" type="dateTime" />
          <element minOccurs="1" maxOccurs="1" name="lastModifiedTimeZone" type="string" />
          <element minOccurs="1" maxOccurs="1" name="breakTime" type="int" />
        </sequence>
      </complexType>
      <complexType name="RecordQuery">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="1" name="start" nillable="true" type="dateTime" />
          <element minOccurs="0" maxOccurs="1" name="end" nillable="true" type="dateTime" />
          <element minOccurs="0" maxOccurs="1" name="lastModified" nillable="true" type="dateTime" />
          <element minOccurs="0" maxOccurs="1" name="closed" nillable="true" type="boolean" />
        </sequence>
      </complexType>
      <complexType name="WorkTimeQuery">
        <complexContent mixed="false">
          <extension base="tns:RecordQuery">
            <sequence>
              <element minOccurs="0" maxOccurs="1" name="externalWorkItemId" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="unbounded" name="statuses" type="tns:WorkTimeStatus" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ProjectTimeQuery">
        <complexContent mixed="false">
          <extension base="tns:RecordQuery">
            <sequence>
              <element minOccurs="0" maxOccurs="1" name="externalTaskId" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="billable" nillable="true" type="boolean" />
              <element minOccurs="0" maxOccurs="unbounded" name="statuses" type="tns:ProjectTimeStatus" />
              <element minOccurs="0" maxOccurs="1" name="includeChildTasks" nillable="true" type="boolean" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="DriveLogQuery">
        <complexContent mixed="false">
          <extension base="tns:RecordQuery">
            <sequence>
              <element minOccurs="0" maxOccurs="1" name="externalCarId" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="route" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="purpose" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="visited" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="business" nillable="true" type="boolean" />
              <element minOccurs="0" maxOccurs="unbounded" name="statuses" type="tns:DriveLogStatus" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="GetWorkTimesRequest" type="tns:WorkTimeQuery" />
      <element name="GetWorkTimesResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="workTimes" type="tns:WorkTime" />
          </sequence>
        </complexType>
      </element>
      <element name="GetProjectTimesRequest" type="tns:ProjectTimeQuery" />
      <element name="GetProjectTimesResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="projectTimes" type="tns:ProjectTime" />
          </sequence>
        </complexType>
      </element>
      <element name="GetDriveLogsRequest" type="tns:DriveLogQuery" />
      <element name="GetDriveLogsResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="driveLogs" type="tns:DriveLog" />
          </sequence>
        </complexType>
      </element>
      <complexType name="Position">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="id" type="long" />
          <element minOccurs="1" maxOccurs="1" name="latitude" type="double" />
          <element minOccurs="1" maxOccurs="1" name="longitude" type="double" />
        </sequence>
      </complexType>
      <element name="GetTasksRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="name" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="active" nillable="true" type="boolean" />
            <element minOccurs="0" maxOccurs="1" name="billable" nillable="true" type="boolean" />
            <element minOccurs="0" maxOccurs="1" name="bookable" nillable="true" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetTasksResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="tasks" type="tns:Task" />
          </sequence>
        </complexType>
      </element>
      <element name="GetTaskRequest" type="string" />
      <element name="GetTaskResponse" type="tns:Task" />
      <element name="GetTaskByUUIDRequest" type="string" />
      <element name="GetTaskByUUIDResponse" type="tns:Task" />
      <element name="GetUsersRequest" />
      <element name="GetUsersResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="users" type="tns:User" />
          </sequence>
        </complexType>
      </element>
      <complexType name="WorkItem">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="externalId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="name" type="string" />
          <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
          <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
          <element minOccurs="0" maxOccurs="1" name="shortName" nillable="true" type="string" />
        </sequence>
      </complexType>
      <element name="AddWorkItemRequest" type="tns:WorkItem" />
      <element name="AddWorkItemResponse" type="long" />
      <element name="UpdateWorkItemRequest" type="tns:WorkItem" />
      <element name="UpdateWorkItemResponse" type="boolean" />
      <element name="UpdateWorkItemIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="workItem" type="tns:WorkItem" />
            <element minOccurs="1" maxOccurs="1" name="newExternalWorkItemId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateWorkItemIdResponse" type="boolean" />
      <element name="DeleteWorkItemRequest" type="string" />
      <element name="DeleteWorkItemResponse" type="boolean" />
      <element name="DeleteWorkItemByUUIDRequest" type="string" />
      <element name="DeleteWorkItemByUUIDResponse" type="boolean" />
      <element name="GetWorkItemsRequest" />
      <element name="GetWorkItemsResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="workItem" type="tns:WorkItem" />
          </sequence>
        </complexType>
      </element>
      <complexType name="Car">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="externalId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="name" type="string" />
          <element minOccurs="1" maxOccurs="1" name="plate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
        </sequence>
      </complexType>
      <element name="AddCarRequest" type="tns:Car" />
      <element name="AddCarResponse" type="long" />
      <element name="UpdateCarRequest" type="tns:Car" />
      <element name="UpdateCarResponse" type="boolean" />
      <element name="UpdateCarIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="car" type="tns:Car" />
            <element minOccurs="1" maxOccurs="1" name="newExternalCarId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateCarIdResponse" type="boolean" />
      <element name="DeleteCarRequest" type="string" />
      <element name="DeleteCarResponse" type="boolean" />
      <element name="DeleteCarByUUIDRequest" type="string" />
      <element name="DeleteCarByUUIDResponse" type="boolean" />
      <element name="GetCarsRequest" />
      <element name="GetCarsResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="cars" type="tns:Car" />
          </sequence>
        </complexType>
      </element>
      <element name="AssignCarToUserRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalCarId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidCar" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AssignCarToUserResponse" type="boolean" />
      <element name="RemoveCarFromUserRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalCarId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidCar" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveCarFromUserResponse" type="boolean" />
      <element name="LockProjectTimesRequest" type="tns:LockProjectTimesRequestType" />
      <element name="LockProjectTimesResponseType" type="boolean" />
      <complexType name="LockProjectTimesRequestType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ids" type="long" />
        </sequence>
      </complexType>
      <element name="UnlockProjectTimesRequest" type="tns:LockProjectTimesRequestType" />
      <element name="UnlockProjectTimesResponse" type="boolean" />
      <complexType name="ProjectTimesStatusRequestType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ids" type="long" />
          <element minOccurs="1" maxOccurs="1" name="status" type="tns:ProjectTimeStatus" />
        </sequence>
      </complexType>
      <element name="SetProjectTimesStatusRequest" type="tns:ProjectTimesStatusRequestType" />
      <element name="SetProjectTimesStatusResponse" type="boolean" />
      <complexType name="WorkTimesStatusRequestType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ids" type="long" />
          <element minOccurs="1" maxOccurs="1" name="status" type="tns:WorkTimeStatus" />
        </sequence>
      </complexType>
      <element name="SetWorkTimesStatusRequest" type="tns:WorkTimesStatusRequestType" />
      <element name="SetWorkTimesStatusResponse" type="boolean" />
      <complexType name="DriveLogsStatusRequestType">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="ids" type="long" />
          <element minOccurs="1" maxOccurs="1" name="status" type="tns:DriveLogStatus" />
        </sequence>
      </complexType>
      <element name="SetDriveLogsStatusRequest" type="tns:DriveLogsStatusRequestType" />
      <element name="SetDriveLogsStatusResponse" type="boolean" />
      <simpleType name="WorkTimeStatus">
        <restriction base="string">
          <enumeration value="CHANGEABLE" />
          <enumeration value="LOCKED" />
          <enumeration value="CLOSED" />
        </restriction>
      </simpleType>
      <simpleType name="ProjectTimeStatus">
        <restriction base="string">
          <enumeration value="CHANGEABLE" />
          <enumeration value="LOCKED" />
          <enumeration value="CLEARED" />
          <enumeration value="CLOSED" />
        </restriction>
      </simpleType>
      <simpleType name="DriveLogStatus">
        <restriction base="string">
          <enumeration value="CHANGEABLE" />
          <enumeration value="LOCKED" />
          <enumeration value="CLEARED" />
          <enumeration value="CLOSED" />
        </restriction>
      </simpleType>
      <element name="SaveWorkTimeRequest" type="tns:WorkTime" />
      <element name="SaveWorkTimeResponse" type="long" />
      <element name="SaveProjectTimeRequest" type="tns:ProjectTime" />
      <element name="SaveProjectTimeResponse" type="long" />
      <element name="SaveDriveLogRequest" type="tns:DriveLog" />
      <element name="SaveDriveLogResponse" type="long" />
      <complexType name="RunningRecord">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="id" type="long" />
          <element minOccurs="1" maxOccurs="1" name="externalUserId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="startTime" type="dateTime" />
          <element minOccurs="1" maxOccurs="1" name="startTimeZone" type="string" />
          <element minOccurs="0" maxOccurs="1" name="startPosition" nillable="true" type="tns:Position" />
          <element minOccurs="1" maxOccurs="1" name="changed" type="boolean" />
          <element minOccurs="1" maxOccurs="1" name="lastModifiedTime" type="dateTime" />
          <element minOccurs="1" maxOccurs="1" name="lastModifiedTimeZone" type="string" />
          <element minOccurs="1" maxOccurs="1" name="breakTime" type="int" />
        </sequence>
      </complexType>
      <complexType name="RunningWorkTime">
        <complexContent mixed="false">
          <extension base="tns:RunningRecord">
            <sequence>
              <element minOccurs="1" maxOccurs="1" name="externalWorkItemId" type="string" />
              <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField4" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField5" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField6" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField7" nillable="true" type="string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="GetRunningWorkTimesResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="runningWorkTimes" type="tns:RunningWorkTime" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRunningWorkTimesRequest" />
      <complexType name="RunningProjectTime">
        <complexContent mixed="false">
          <extension base="tns:RunningRecord">
            <sequence>
              <element minOccurs="1" maxOccurs="1" name="externalTaskId" type="string" />
              <element minOccurs="1" maxOccurs="1" name="billable" type="boolean" />
              <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField4" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField5" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField6" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField7" nillable="true" type="string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="GetRunningProjectTimesResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="runningProjectTimes" type="tns:RunningProjectTime" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRunningProjectTimesRequest" />
      <complexType name="RunningDriveLog">
        <complexContent mixed="false">
          <extension base="tns:RunningRecord">
            <sequence>
              <element minOccurs="1" maxOccurs="1" name="externalCarId" type="string" />
              <element minOccurs="1" maxOccurs="1" name="startMileage" type="long" />
              <element minOccurs="0" maxOccurs="1" name="route" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="purpose" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="visited" nillable="true" type="string" />
              <element minOccurs="1" maxOccurs="1" name="business" type="boolean" />
              <element minOccurs="1" maxOccurs="1" name="uuid" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField1" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField2" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField3" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField4" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField5" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField6" nillable="true" type="string" />
              <element minOccurs="0" maxOccurs="1" name="customField7" nillable="true" type="string" />
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <element name="GetRunningDriveLogsResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="runningDriveLogs" type="tns:RunningDriveLog" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRunningDriveLogsRequest" />
      <complexType name="Group">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="externalId" type="string" />
          <element minOccurs="0" maxOccurs="1" name="parentExternalId" nillable="true" type="string" />
          <element minOccurs="1" maxOccurs="1" name="name" type="string" />
          <element minOccurs="0" maxOccurs="1" name="description" nillable="true" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="subgroups" type="tns:Group" />
        </sequence>
      </complexType>
      <element name="AddGroupRequest" type="tns:Group" />
      <element name="AddGroupResponse" type="long" />
      <element name="UpdateGroupRequest" type="tns:Group" />
      <element name="UpdateGroupResponse" type="boolean" />
      <element name="UpdateGroupIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="group" type="tns:Group" />
            <element minOccurs="1" maxOccurs="1" name="newExternalGroupId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateGroupIdResponse" type="boolean" />
      <element name="SetGroupExternalIdRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="0" maxOccurs="1" name="parentExternalId" nillable="true" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newExternalGroupId" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SetGroupExternalIdResponse" type="boolean" />
      <element name="DeleteGroupRequest" type="string" />
      <element name="DeleteGroupResponse" type="boolean" />
      <element name="GetGroupsRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="name" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetGroupsResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="groups" type="tns:Group" />
          </sequence>
        </complexType>
      </element>
      <element name="GetGroupRequest" type="string" />
      <element name="GetGroupResponse" type="tns:Group" />
      <element name="AssignGroupToTaskRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalGroupId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalTaskId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidTask" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AssignGroupToTaskResponse" type="boolean" />
      <element name="RemoveGroupFromTaskRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalGroupId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalTaskId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidTask" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveGroupFromTaskResponse" type="boolean" />
      <element name="AssignUserToGroupRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalGroupId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AssignUserToGroupResponse" type="boolean" />
      <element name="RemoveUserFromGroupRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalGroupId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveUserFromGroupResponse" type="boolean" />
      <element name="AssignLeaderToGroupRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalGroupId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AssignLeaderToGroupResponse" type="boolean" />
      <element name="RemoveLeaderFromGroupRequest">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="1" name="externalUserId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="externalGroupId" nillable="true" type="string" />
            <element minOccurs="0" maxOccurs="1" name="uuidUser" nillable="true" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveLeaderFromGroupResponse" type="boolean" />
      <element name="GetGroupLeadersRequest" type="string" />
      <element name="GetGroupLeadersResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="leaders" type="tns:User" />
          </sequence>
        </complexType>
      </element>
      <element name="GetGroupUsersRequest" type="string" />
      <element name="GetGroupUsersResponse">
        <complexType>
          <sequence>
            <element minOccurs="0" maxOccurs="unbounded" name="users" type="tns:User" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="DeleteCarResponse">
    <wsdl:part name="DeleteCarResponse" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCarRequest">
    <wsdl:part name="UpdateCarRequest" element="tns:UpdateCarRequest" />
  </wsdl:message>
  <wsdl:message name="GetTasksRequest">
    <wsdl:part name="GetTasksRequest" element="tns:GetTasksRequest" />
  </wsdl:message>
  <wsdl:message name="SaveWorkTimeRequest">
    <wsdl:part name="SaveWorkTimeRequest" element="tns:SaveWorkTimeRequest" />
  </wsdl:message>
  <wsdl:message name="AddCarRequest">
    <wsdl:part name="AddCarRequest" element="tns:AddCarRequest" />
  </wsdl:message>
  <wsdl:message name="GetRunningDriveLogsResponse">
    <wsdl:part name="GetRunningDriveLogsResponse" element="tns:GetRunningDriveLogsResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromGroupRequest">
    <wsdl:part name="RemoveUserFromGroupRequest" element="tns:RemoveUserFromGroupRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteUserRequest">
    <wsdl:part name="DeleteUserRequest" element="tns:DeleteUserRequest" />
  </wsdl:message>
  <wsdl:message name="GetWorkTimesResponse">
    <wsdl:part name="GetWorkTimesResponse" element="tns:GetWorkTimesResponse" />
  </wsdl:message>
  <wsdl:message name="AssignLeaderToGroupResponse">
    <wsdl:part name="AssignLeaderToGroupResponse" element="tns:AssignLeaderToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserRequest">
    <wsdl:part name="AddUserRequest" element="tns:AddUserRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupFromTaskResponse">
    <wsdl:part name="RemoveGroupFromTaskResponse" element="tns:RemoveGroupFromTaskResponse" />
  </wsdl:message>
  <wsdl:message name="GetRunningWorkTimesRequest">
    <wsdl:part name="GetRunningWorkTimesRequest" element="tns:GetRunningWorkTimesRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemResponse">
    <wsdl:part name="DeleteWorkItemResponse" element="tns:DeleteWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCarIdResponse">
    <wsdl:part name="UpdateCarIdResponse" element="tns:UpdateCarIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddTaskResponse">
    <wsdl:part name="AddTaskResponse" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDriveLogRequest">
    <wsdl:part name="SaveDriveLogRequest" element="tns:SaveDriveLogRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupIdRequest">
    <wsdl:part name="UpdateGroupIdRequest" element="tns:UpdateGroupIdRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateCarResponse">
    <wsdl:part name="UpdateCarResponse" element="tns:UpdateCarResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemsRequest">
    <wsdl:part name="GetWorkItemsRequest" element="tns:GetWorkItemsRequest" />
  </wsdl:message>
  <wsdl:message name="GetRunningDriveLogsRequest">
    <wsdl:part name="GetRunningDriveLogsRequest" element="tns:GetRunningDriveLogsRequest" />
  </wsdl:message>
  <wsdl:message name="GetGroupUsersResponse">
    <wsdl:part name="GetGroupUsersResponse" element="tns:GetGroupUsersResponse" />
  </wsdl:message>
  <wsdl:message name="AssignGroupToTaskResponse">
    <wsdl:part name="AssignGroupToTaskResponse" element="tns:AssignGroupToTaskResponse" />
  </wsdl:message>
  <wsdl:message name="SetGroupExternalIdRequest">
    <wsdl:part name="SetGroupExternalIdRequest" element="tns:SetGroupExternalIdRequest" />
  </wsdl:message>
  <wsdl:message name="SetDriveLogsStatusResponse">
    <wsdl:part name="SetDriveLogsStatusResponse" element="tns:SetDriveLogsStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemsResponse">
    <wsdl:part name="GetWorkItemsResponse" element="tns:GetWorkItemsResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockProjectTimesResponse">
    <wsdl:part name="UnlockProjectTimesResponse" element="tns:UnlockProjectTimesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserRequest">
    <wsdl:part name="UpdateUserRequest" element="tns:UpdateUserRequest" />
  </wsdl:message>
  <wsdl:message name="GetUsersResponse">
    <wsdl:part name="GetUsersResponse" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskRequest">
    <wsdl:part name="GetTaskRequest" element="tns:GetTaskRequest" />
  </wsdl:message>
  <wsdl:message name="GetProjectTimesRequest">
    <wsdl:part name="GetProjectTimesRequest" element="tns:GetProjectTimesRequest" />
  </wsdl:message>
  <wsdl:message name="GetRunningWorkTimesResponse">
    <wsdl:part name="GetRunningWorkTimesResponse" element="tns:GetRunningWorkTimesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskByUUIDRequest">
    <wsdl:part name="DeleteTaskByUUIDRequest" element="tns:DeleteTaskByUUIDRequest" />
  </wsdl:message>
  <wsdl:message name="GetTasksResponse">
    <wsdl:part name="GetTasksResponse" element="tns:GetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupResponse">
    <wsdl:part name="AddGroupResponse" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupRequest">
    <wsdl:part name="UpdateGroupRequest" element="tns:UpdateGroupRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteUserByUUIDResponse">
    <wsdl:part name="DeleteUserByUUIDResponse" element="tns:DeleteUserByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDriveLogsResponse">
    <wsdl:part name="GetDriveLogsResponse" element="tns:GetDriveLogsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarsRequest">
    <wsdl:part name="GetCarsRequest" element="tns:GetCarsRequest" />
  </wsdl:message>
  <wsdl:message name="SetProjectTimesStatusRequest">
    <wsdl:part name="SetProjectTimesStatusRequest" element="tns:SetProjectTimesStatusRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupResponse">
    <wsdl:part name="UpdateGroupResponse" element="tns:UpdateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupsRequest">
    <wsdl:part name="GetGroupsRequest" element="tns:GetGroupsRequest" />
  </wsdl:message>
  <wsdl:message name="SetTaskExternalIdResponse">
    <wsdl:part name="SetTaskExternalIdResponse" element="tns:SetTaskExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemByUUIDRequest">
    <wsdl:part name="DeleteWorkItemByUUIDRequest" element="tns:DeleteWorkItemByUUIDRequest" />
  </wsdl:message>
  <wsdl:message name="SetWorkTimesStatusResponse">
    <wsdl:part name="SetWorkTimesStatusResponse" element="tns:SetWorkTimesStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCarIdRequest">
    <wsdl:part name="UpdateCarIdRequest" element="tns:UpdateCarIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetTaskByUUIDRequest">
    <wsdl:part name="GetTaskByUUIDRequest" element="tns:GetTaskByUUIDRequest" />
  </wsdl:message>
  <wsdl:message name="GetGroupsResponse">
    <wsdl:part name="GetGroupsResponse" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskResponse">
    <wsdl:part name="GetTaskResponse" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="SetWorkTimesStatusRequest">
    <wsdl:part name="SetWorkTimesStatusRequest" element="tns:SetWorkTimesStatusRequest" />
  </wsdl:message>
  <wsdl:message name="SaveWorkTimeResponse">
    <wsdl:part name="SaveWorkTimeResponse" element="tns:SaveWorkTimeResponse" />
  </wsdl:message>
  <wsdl:message name="AssignUserToGroupRequest">
    <wsdl:part name="AssignUserToGroupRequest" element="tns:AssignUserToGroupRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateGroupIdResponse">
    <wsdl:part name="UpdateGroupIdResponse" element="tns:UpdateGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDriveLogsRequest">
    <wsdl:part name="GetDriveLogsRequest" element="tns:GetDriveLogsRequest" />
  </wsdl:message>
  <wsdl:message name="AddWorkItemRequest">
    <wsdl:part name="AddWorkItemRequest" element="tns:AddWorkItemRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveCarFromUserResponse">
    <wsdl:part name="RemoveCarFromUserResponse" element="tns:RemoveCarFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="AssignTaskToUserRequest">
    <wsdl:part name="AssignTaskToUserRequest" element="tns:AssignTaskToUserRequest" />
  </wsdl:message>
  <wsdl:message name="GetRunningProjectTimesResponse">
    <wsdl:part name="GetRunningProjectTimesResponse" element="tns:GetRunningProjectTimesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupLeadersResponse">
    <wsdl:part name="GetGroupLeadersResponse" element="tns:GetGroupLeadersResponse" />
  </wsdl:message>
  <wsdl:message name="SetGroupExternalIdResponse">
    <wsdl:part name="SetGroupExternalIdResponse" element="tns:SetGroupExternalIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupRequest">
    <wsdl:part name="AddGroupRequest" element="tns:AddGroupRequest" />
  </wsdl:message>
  <wsdl:message name="GetGroupUsersRequest">
    <wsdl:part name="GetGroupUsersRequest" element="tns:GetGroupUsersRequest" />
  </wsdl:message>
  <wsdl:message name="SetProjectTimesStatusResponse">
    <wsdl:part name="SetProjectTimesStatusResponse" element="tns:SetProjectTimesStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetRunningProjectTimesRequest">
    <wsdl:part name="GetRunningProjectTimesRequest" element="tns:GetRunningProjectTimesRequest" />
  </wsdl:message>
  <wsdl:message name="AssignTaskToUserResponse">
    <wsdl:part name="AssignTaskToUserResponse" element="tns:AssignTaskToUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskByUUIDResponse">
    <wsdl:part name="GetTaskByUUIDResponse" element="tns:GetTaskByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCarRequest">
    <wsdl:part name="DeleteCarRequest" element="tns:DeleteCarRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkItemIdResponse">
    <wsdl:part name="UpdateWorkItemIdResponse" element="tns:UpdateWorkItemIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserIdResponse">
    <wsdl:part name="UpdateUserIdResponse" element="tns:UpdateUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="SaveProjectTimeResponse">
    <wsdl:part name="SaveProjectTimeResponse" element="tns:SaveProjectTimeResponse" />
  </wsdl:message>
  <wsdl:message name="AddWorkItemResponse">
    <wsdl:part name="AddWorkItemResponse" element="tns:AddWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserResponse">
    <wsdl:part name="AddUserResponse" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetDriveLogsStatusRequest">
    <wsdl:part name="SetDriveLogsStatusRequest" element="tns:SetDriveLogsStatusRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskRequest">
    <wsdl:part name="UpdateTaskRequest" element="tns:UpdateTaskRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskRequest">
    <wsdl:part name="DeleteTaskRequest" element="tns:DeleteTaskRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveTaskFromUserResponse">
    <wsdl:part name="RemoveTaskFromUserResponse" element="tns:RemoveTaskFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveCarFromUserRequest">
    <wsdl:part name="RemoveCarFromUserRequest" element="tns:RemoveCarFromUserRequest" />
  </wsdl:message>
  <wsdl:message name="GetProjectTimesResponse">
    <wsdl:part name="GetProjectTimesResponse" element="tns:GetProjectTimesResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveLeaderFromGroupResponse">
    <wsdl:part name="RemoveLeaderFromGroupResponse" element="tns:RemoveLeaderFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkItemIdRequest">
    <wsdl:part name="UpdateWorkItemIdRequest" element="tns:UpdateWorkItemIdRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskIdRequest">
    <wsdl:part name="UpdateTaskIdRequest" element="tns:UpdateTaskIdRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkItemRequest">
    <wsdl:part name="UpdateWorkItemRequest" element="tns:UpdateWorkItemRequest" />
  </wsdl:message>
  <wsdl:message name="GetUsersRequest">
    <wsdl:part name="GetUsersRequest" element="tns:GetUsersRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateUserIdRequest">
    <wsdl:part name="UpdateUserIdRequest" element="tns:UpdateUserIdRequest" />
  </wsdl:message>
  <wsdl:message name="AddTaskRequest">
    <wsdl:part name="AddTaskRequest" element="tns:AddTaskRequest" />
  </wsdl:message>
  <wsdl:message name="AssignCarToUserResponse">
    <wsdl:part name="AssignCarToUserResponse" element="tns:AssignCarToUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupRequest">
    <wsdl:part name="DeleteGroupRequest" element="tns:DeleteGroupRequest" />
  </wsdl:message>
  <wsdl:message name="AssignLeaderToGroupRequest">
    <wsdl:part name="AssignLeaderToGroupRequest" element="tns:AssignLeaderToGroupRequest" />
  </wsdl:message>
  <wsdl:message name="GetCarsResponse">
    <wsdl:part name="GetCarsResponse" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="InviteUserRequest">
    <wsdl:part name="InviteUserRequest" element="tns:InviteUserRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkItemResponse">
    <wsdl:part name="UpdateWorkItemResponse" element="tns:UpdateWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="AssignGroupToTaskRequest">
    <wsdl:part name="AssignGroupToTaskRequest" element="tns:AssignGroupToTaskRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveTaskFromUserRequest">
    <wsdl:part name="RemoveTaskFromUserRequest" element="tns:RemoveTaskFromUserRequest" />
  </wsdl:message>
  <wsdl:message name="AssignCarToUserRequest">
    <wsdl:part name="AssignCarToUserRequest" element="tns:AssignCarToUserRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteUserByUUIDRequest">
    <wsdl:part name="DeleteUserByUUIDRequest" element="tns:DeleteUserByUUIDRequest" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskResponse">
    <wsdl:part name="UpdateTaskResponse" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupFromTaskRequest">
    <wsdl:part name="RemoveGroupFromTaskRequest" element="tns:RemoveGroupFromTaskRequest" />
  </wsdl:message>
  <wsdl:message name="InviteUserResponse">
    <wsdl:part name="InviteUserResponse" element="tns:InviteUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemRequest">
    <wsdl:part name="DeleteWorkItemRequest" element="tns:DeleteWorkItemRequest" />
  </wsdl:message>
  <wsdl:message name="AssignUserToGroupResponse">
    <wsdl:part name="AssignUserToGroupResponse" element="tns:AssignUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkItemByUUIDResponse">
    <wsdl:part name="DeleteWorkItemByUUIDResponse" element="tns:DeleteWorkItemByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="LockProjectTimesRequest">
    <wsdl:part name="LockProjectTimesRequest" element="tns:LockProjectTimesRequest" />
  </wsdl:message>
  <wsdl:message name="SetTaskExternalIdRequest">
    <wsdl:part name="SetTaskExternalIdRequest" element="tns:SetTaskExternalIdRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteUserResponse">
    <wsdl:part name="DeleteUserResponse" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveLeaderFromGroupRequest">
    <wsdl:part name="RemoveLeaderFromGroupRequest" element="tns:RemoveLeaderFromGroupRequest" />
  </wsdl:message>
  <wsdl:message name="GetWorkTimesRequest">
    <wsdl:part name="GetWorkTimesRequest" element="tns:GetWorkTimesRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromGroupResponse">
    <wsdl:part name="RemoveUserFromGroupResponse" element="tns:RemoveUserFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCarByUUIDResponse">
    <wsdl:part name="DeleteCarByUUIDResponse" element="tns:DeleteCarByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupRequest">
    <wsdl:part name="GetGroupRequest" element="tns:GetGroupRequest" />
  </wsdl:message>
  <wsdl:message name="SaveProjectTimeRequest">
    <wsdl:part name="SaveProjectTimeRequest" element="tns:SaveProjectTimeRequest" />
  </wsdl:message>
  <wsdl:message name="AddCarResponse">
    <wsdl:part name="AddCarResponse" element="tns:AddCarResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCarByUUIDRequest">
    <wsdl:part name="DeleteCarByUUIDRequest" element="tns:DeleteCarByUUIDRequest" />
  </wsdl:message>
  <wsdl:message name="GetGroupLeadersRequest">
    <wsdl:part name="GetGroupLeadersRequest" element="tns:GetGroupLeadersRequest" />
  </wsdl:message>
  <wsdl:message name="SaveDriveLogResponse">
    <wsdl:part name="SaveDriveLogResponse" element="tns:SaveDriveLogResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupResponse">
    <wsdl:part name="DeleteGroupResponse" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockProjectTimesRequest">
    <wsdl:part name="UnlockProjectTimesRequest" element="tns:UnlockProjectTimesRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskResponse">
    <wsdl:part name="DeleteTaskResponse" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskByUUIDResponse">
    <wsdl:part name="DeleteTaskByUUIDResponse" element="tns:DeleteTaskByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserResponse">
    <wsdl:part name="UpdateUserResponse" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupResponse">
    <wsdl:part name="GetGroupResponse" element="tns:GetGroupResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskIdResponse">
    <wsdl:part name="UpdateTaskIdResponse" element="tns:UpdateTaskIdResponse" />
  </wsdl:message>
  <wsdl:portType name="TimrSync">
    <wsdl:operation name="DeleteCar">
      <wsdl:input name="DeleteCarRequest" message="tns:DeleteCarRequest" />
      <wsdl:output name="DeleteCarResponse" message="tns:DeleteCarResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <wsdl:input name="UpdateCarRequest" message="tns:UpdateCarRequest" />
      <wsdl:output name="UpdateCarResponse" message="tns:UpdateCarResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:input name="GetTasksRequest" message="tns:GetTasksRequest" />
      <wsdl:output name="GetTasksResponse" message="tns:GetTasksResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveWorkTime">
      <wsdl:input name="SaveWorkTimeRequest" message="tns:SaveWorkTimeRequest" />
      <wsdl:output name="SaveWorkTimeResponse" message="tns:SaveWorkTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <wsdl:input name="AddCarRequest" message="tns:AddCarRequest" />
      <wsdl:output name="AddCarResponse" message="tns:AddCarResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRunningDriveLogs">
      <wsdl:input name="GetRunningDriveLogsRequest" message="tns:GetRunningDriveLogsRequest" />
      <wsdl:output name="GetRunningDriveLogsResponse" message="tns:GetRunningDriveLogsResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <wsdl:input name="RemoveUserFromGroupRequest" message="tns:RemoveUserFromGroupRequest" />
      <wsdl:output name="RemoveUserFromGroupResponse" message="tns:RemoveUserFromGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input name="DeleteUserRequest" message="tns:DeleteUserRequest" />
      <wsdl:output name="DeleteUserResponse" message="tns:DeleteUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkTimes">
      <wsdl:input name="GetWorkTimesRequest" message="tns:GetWorkTimesRequest" />
      <wsdl:output name="GetWorkTimesResponse" message="tns:GetWorkTimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="AssignLeaderToGroup">
      <wsdl:input name="AssignLeaderToGroupRequest" message="tns:AssignLeaderToGroupRequest" />
      <wsdl:output name="AssignLeaderToGroupResponse" message="tns:AssignLeaderToGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input name="AddUserRequest" message="tns:AddUserRequest" />
      <wsdl:output name="AddUserResponse" message="tns:AddUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupFromTask">
      <wsdl:input name="RemoveGroupFromTaskRequest" message="tns:RemoveGroupFromTaskRequest" />
      <wsdl:output name="RemoveGroupFromTaskResponse" message="tns:RemoveGroupFromTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRunningWorkTimes">
      <wsdl:input name="GetRunningWorkTimesRequest" message="tns:GetRunningWorkTimesRequest" />
      <wsdl:output name="GetRunningWorkTimesResponse" message="tns:GetRunningWorkTimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkItem">
      <wsdl:input name="DeleteWorkItemRequest" message="tns:DeleteWorkItemRequest" />
      <wsdl:output name="DeleteWorkItemResponse" message="tns:DeleteWorkItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCarId">
      <wsdl:input name="UpdateCarIdRequest" message="tns:UpdateCarIdRequest" />
      <wsdl:output name="UpdateCarIdResponse" message="tns:UpdateCarIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <wsdl:input name="AddTaskRequest" message="tns:AddTaskRequest" />
      <wsdl:output name="AddTaskResponse" message="tns:AddTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveDriveLog">
      <wsdl:input name="SaveDriveLogRequest" message="tns:SaveDriveLogRequest" />
      <wsdl:output name="SaveDriveLogResponse" message="tns:SaveDriveLogResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroupId">
      <wsdl:input name="UpdateGroupIdRequest" message="tns:UpdateGroupIdRequest" />
      <wsdl:output name="UpdateGroupIdResponse" message="tns:UpdateGroupIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkItems">
      <wsdl:input name="GetWorkItemsRequest" message="tns:GetWorkItemsRequest" />
      <wsdl:output name="GetWorkItemsResponse" message="tns:GetWorkItemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupUsers">
      <wsdl:input name="GetGroupUsersRequest" message="tns:GetGroupUsersRequest" />
      <wsdl:output name="GetGroupUsersResponse" message="tns:GetGroupUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="AssignGroupToTask">
      <wsdl:input name="AssignGroupToTaskRequest" message="tns:AssignGroupToTaskRequest" />
      <wsdl:output name="AssignGroupToTaskResponse" message="tns:AssignGroupToTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetGroupExternalId">
      <wsdl:input name="SetGroupExternalIdRequest" message="tns:SetGroupExternalIdRequest" />
      <wsdl:output name="SetGroupExternalIdResponse" message="tns:SetGroupExternalIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetDriveLogsStatus">
      <wsdl:input name="SetDriveLogsStatusRequest" message="tns:SetDriveLogsStatusRequest" />
      <wsdl:output name="SetDriveLogsStatusResponse" message="tns:SetDriveLogsStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="UnlockProjectTimes">
      <wsdl:input name="UnlockProjectTimesRequest" message="tns:UnlockProjectTimesRequest" />
      <wsdl:output name="UnlockProjectTimesResponse" message="tns:UnlockProjectTimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input name="UpdateUserRequest" message="tns:UpdateUserRequest" />
      <wsdl:output name="UpdateUserResponse" message="tns:UpdateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input name="GetUsersRequest" message="tns:GetUsersRequest" />
      <wsdl:output name="GetUsersResponse" message="tns:GetUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input name="GetTaskRequest" message="tns:GetTaskRequest" />
      <wsdl:output name="GetTaskResponse" message="tns:GetTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectTimes">
      <wsdl:input name="GetProjectTimesRequest" message="tns:GetProjectTimesRequest" />
      <wsdl:output name="GetProjectTimesResponse" message="tns:GetProjectTimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskByUUID">
      <wsdl:input name="DeleteTaskByUUIDRequest" message="tns:DeleteTaskByUUIDRequest" />
      <wsdl:output name="DeleteTaskByUUIDResponse" message="tns:DeleteTaskByUUIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input name="AddGroupRequest" message="tns:AddGroupRequest" />
      <wsdl:output name="AddGroupResponse" message="tns:AddGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input name="UpdateGroupRequest" message="tns:UpdateGroupRequest" />
      <wsdl:output name="UpdateGroupResponse" message="tns:UpdateGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserByUUID">
      <wsdl:input name="DeleteUserByUUIDRequest" message="tns:DeleteUserByUUIDRequest" />
      <wsdl:output name="DeleteUserByUUIDResponse" message="tns:DeleteUserByUUIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDriveLogs">
      <wsdl:input name="GetDriveLogsRequest" message="tns:GetDriveLogsRequest" />
      <wsdl:output name="GetDriveLogsResponse" message="tns:GetDriveLogsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input name="GetCarsRequest" message="tns:GetCarsRequest" />
      <wsdl:output name="GetCarsResponse" message="tns:GetCarsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetProjectTimesStatus">
      <wsdl:input name="SetProjectTimesStatusRequest" message="tns:SetProjectTimesStatusRequest" />
      <wsdl:output name="SetProjectTimesStatusResponse" message="tns:SetProjectTimesStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input name="GetGroupsRequest" message="tns:GetGroupsRequest" />
      <wsdl:output name="GetGroupsResponse" message="tns:GetGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetTaskExternalId">
      <wsdl:input name="SetTaskExternalIdRequest" message="tns:SetTaskExternalIdRequest" />
      <wsdl:output name="SetTaskExternalIdResponse" message="tns:SetTaskExternalIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkItemByUUID">
      <wsdl:input name="DeleteWorkItemByUUIDRequest" message="tns:DeleteWorkItemByUUIDRequest" />
      <wsdl:output name="DeleteWorkItemByUUIDResponse" message="tns:DeleteWorkItemByUUIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetWorkTimesStatus">
      <wsdl:input name="SetWorkTimesStatusRequest" message="tns:SetWorkTimesStatusRequest" />
      <wsdl:output name="SetWorkTimesStatusResponse" message="tns:SetWorkTimesStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskByUUID">
      <wsdl:input name="GetTaskByUUIDRequest" message="tns:GetTaskByUUIDRequest" />
      <wsdl:output name="GetTaskByUUIDResponse" message="tns:GetTaskByUUIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="AssignUserToGroup">
      <wsdl:input name="AssignUserToGroupRequest" message="tns:AssignUserToGroupRequest" />
      <wsdl:output name="AssignUserToGroupResponse" message="tns:AssignUserToGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddWorkItem">
      <wsdl:input name="AddWorkItemRequest" message="tns:AddWorkItemRequest" />
      <wsdl:output name="AddWorkItemResponse" message="tns:AddWorkItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCarFromUser">
      <wsdl:input name="RemoveCarFromUserRequest" message="tns:RemoveCarFromUserRequest" />
      <wsdl:output name="RemoveCarFromUserResponse" message="tns:RemoveCarFromUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="AssignTaskToUser">
      <wsdl:input name="AssignTaskToUserRequest" message="tns:AssignTaskToUserRequest" />
      <wsdl:output name="AssignTaskToUserResponse" message="tns:AssignTaskToUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRunningProjectTimes">
      <wsdl:input name="GetRunningProjectTimesRequest" message="tns:GetRunningProjectTimesRequest" />
      <wsdl:output name="GetRunningProjectTimesResponse" message="tns:GetRunningProjectTimesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupLeaders">
      <wsdl:input name="GetGroupLeadersRequest" message="tns:GetGroupLeadersRequest" />
      <wsdl:output name="GetGroupLeadersResponse" message="tns:GetGroupLeadersResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkItemId">
      <wsdl:input name="UpdateWorkItemIdRequest" message="tns:UpdateWorkItemIdRequest" />
      <wsdl:output name="UpdateWorkItemIdResponse" message="tns:UpdateWorkItemIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserId">
      <wsdl:input name="UpdateUserIdRequest" message="tns:UpdateUserIdRequest" />
      <wsdl:output name="UpdateUserIdResponse" message="tns:UpdateUserIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveProjectTime">
      <wsdl:input name="SaveProjectTimeRequest" message="tns:SaveProjectTimeRequest" />
      <wsdl:output name="SaveProjectTimeResponse" message="tns:SaveProjectTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input name="UpdateTaskRequest" message="tns:UpdateTaskRequest" />
      <wsdl:output name="UpdateTaskResponse" message="tns:UpdateTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input name="DeleteTaskRequest" message="tns:DeleteTaskRequest" />
      <wsdl:output name="DeleteTaskResponse" message="tns:DeleteTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTaskFromUser">
      <wsdl:input name="RemoveTaskFromUserRequest" message="tns:RemoveTaskFromUserRequest" />
      <wsdl:output name="RemoveTaskFromUserResponse" message="tns:RemoveTaskFromUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLeaderFromGroup">
      <wsdl:input name="RemoveLeaderFromGroupRequest" message="tns:RemoveLeaderFromGroupRequest" />
      <wsdl:output name="RemoveLeaderFromGroupResponse" message="tns:RemoveLeaderFromGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskId">
      <wsdl:input name="UpdateTaskIdRequest" message="tns:UpdateTaskIdRequest" />
      <wsdl:output name="UpdateTaskIdResponse" message="tns:UpdateTaskIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkItem">
      <wsdl:input name="UpdateWorkItemRequest" message="tns:UpdateWorkItemRequest" />
      <wsdl:output name="UpdateWorkItemResponse" message="tns:UpdateWorkItemResponse" />
    </wsdl:operation>
    <wsdl:operation name="AssignCarToUser">
      <wsdl:input name="AssignCarToUserRequest" message="tns:AssignCarToUserRequest" />
      <wsdl:output name="AssignCarToUserResponse" message="tns:AssignCarToUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input name="DeleteGroupRequest" message="tns:DeleteGroupRequest" />
      <wsdl:output name="DeleteGroupResponse" message="tns:DeleteGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="InviteUser">
      <wsdl:input name="InviteUserRequest" message="tns:InviteUserRequest" />
      <wsdl:output name="InviteUserResponse" message="tns:InviteUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="LockProjectTimes">
      <wsdl:input name="LockProjectTimesRequest" message="tns:LockProjectTimesRequest" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCarByUUID">
      <wsdl:input name="DeleteCarByUUIDRequest" message="tns:DeleteCarByUUIDRequest" />
      <wsdl:output name="DeleteCarByUUIDResponse" message="tns:DeleteCarByUUIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <wsdl:input name="GetGroupRequest" message="tns:GetGroupRequest" />
      <wsdl:output name="GetGroupResponse" message="tns:GetGroupResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimrSyncSoap11" type="tns:TimrSync">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteCarRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteCarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateCarRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateCarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="" />
      <wsdl:input name="GetTasksRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTasksResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkTime">
      <soap:operation soapAction="" />
      <wsdl:input name="SaveWorkTimeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveWorkTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="" />
      <wsdl:input name="AddCarRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddCarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningDriveLogs">
      <soap:operation soapAction="" />
      <wsdl:input name="GetRunningDriveLogsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRunningDriveLogsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveUserFromGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveUserFromGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkTimes">
      <soap:operation soapAction="" />
      <wsdl:input name="GetWorkTimesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetWorkTimesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignLeaderToGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="AssignLeaderToGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AssignLeaderToGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="" />
      <wsdl:input name="AddUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupFromTask">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveGroupFromTaskRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveGroupFromTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningWorkTimes">
      <soap:operation soapAction="" />
      <wsdl:input name="GetRunningWorkTimesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRunningWorkTimesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkItem">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteWorkItemRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteWorkItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCarId">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateCarIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateCarIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="" />
      <wsdl:input name="AddTaskRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDriveLog">
      <soap:operation soapAction="" />
      <wsdl:input name="SaveDriveLogRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveDriveLogResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroupId">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateGroupIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateGroupIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItems">
      <soap:operation soapAction="" />
      <wsdl:input name="GetWorkItemsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetWorkItemsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupUsers">
      <soap:operation soapAction="" />
      <wsdl:input name="GetGroupUsersRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGroupUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignGroupToTask">
      <soap:operation soapAction="" />
      <wsdl:input name="AssignGroupToTaskRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AssignGroupToTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupExternalId">
      <soap:operation soapAction="" />
      <wsdl:input name="SetGroupExternalIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetGroupExternalIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDriveLogsStatus">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDriveLogsStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDriveLogsStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockProjectTimes">
      <soap:operation soapAction="" />
      <wsdl:input name="UnlockProjectTimesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnlockProjectTimesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="" />
      <wsdl:input name="GetUsersRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="" />
      <wsdl:input name="GetTaskRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectTimes">
      <soap:operation soapAction="" />
      <wsdl:input name="GetProjectTimesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProjectTimesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskByUUID">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteTaskByUUIDRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteTaskByUUIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="AddGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserByUUID">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteUserByUUIDRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteUserByUUIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriveLogs">
      <soap:operation soapAction="" />
      <wsdl:input name="GetDriveLogsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDriveLogsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="" />
      <wsdl:input name="GetCarsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetCarsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProjectTimesStatus">
      <soap:operation soapAction="" />
      <wsdl:input name="SetProjectTimesStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetProjectTimesStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="" />
      <wsdl:input name="GetGroupsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGroupsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTaskExternalId">
      <soap:operation soapAction="" />
      <wsdl:input name="SetTaskExternalIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetTaskExternalIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkItemByUUID">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteWorkItemByUUIDRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteWorkItemByUUIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWorkTimesStatus">
      <soap:operation soapAction="" />
      <wsdl:input name="SetWorkTimesStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetWorkTimesStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskByUUID">
      <soap:operation soapAction="" />
      <wsdl:input name="GetTaskByUUIDRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTaskByUUIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignUserToGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="AssignUserToGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AssignUserToGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWorkItem">
      <soap:operation soapAction="" />
      <wsdl:input name="AddWorkItemRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddWorkItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCarFromUser">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveCarFromUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveCarFromUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTaskToUser">
      <soap:operation soapAction="" />
      <wsdl:input name="AssignTaskToUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AssignTaskToUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunningProjectTimes">
      <soap:operation soapAction="" />
      <wsdl:input name="GetRunningProjectTimesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRunningProjectTimesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupLeaders">
      <soap:operation soapAction="" />
      <wsdl:input name="GetGroupLeadersRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGroupLeadersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkItemId">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateWorkItemIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateWorkItemIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserId">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateUserIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateUserIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProjectTime">
      <soap:operation soapAction="" />
      <wsdl:input name="SaveProjectTimeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveProjectTimeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateTaskRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteTaskRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTaskFromUser">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveTaskFromUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveTaskFromUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLeaderFromGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveLeaderFromGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveLeaderFromGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskId">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateTaskIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateTaskIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkItem">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateWorkItemRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateWorkItemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignCarToUser">
      <soap:operation soapAction="" />
      <wsdl:input name="AssignCarToUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AssignCarToUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviteUser">
      <soap:operation soapAction="" />
      <wsdl:input name="InviteUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InviteUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockProjectTimes">
      <soap:operation soapAction="" />
      <wsdl:input name="LockProjectTimesRequest">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteCarByUUID">
      <soap:operation soapAction="" />
      <wsdl:input name="DeleteCarByUUIDRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeleteCarByUUIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap:operation soapAction="" />
      <wsdl:input name="GetGroupRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimrSyncService">
    <wsdl:port name="TimrSyncSoap11" binding="tns:TimrSyncSoap11">
      <soap:address location="https://timrsync.timr.com:443/timr/timrsync" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>